<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SilentHub</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>SilentHub</h1>

    <p>
        The server has been successfully connected.
    </p>

    <a href="/panel">
        <button>
            Access
        </button>
    </a>

</div>

</body>

</html>
